body{
    background-color: black;
}

nav ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.about-html h1{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(170, 1, 1);
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(170, 1, 1);
    padding: 10px 16px;
}

nav{
    margin-left: auto;
}

h1{
    color: white;
    text-align: center;
    margin: 50px;
}

header img{
    border-radius: 10px;
}

.text{
    margin-bottom: 100px;
    margin-top: 150px;
    text-align: center;
}

.text23{
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.content p{
    color: white;
}

img{
    width: 100px;
    height: 100px;
}

div{
    color: white;
}

#startingline{
    margin: 40px;
}

.Fighters{
    float: left;
    margin-right: 20px;
    border: 2px solid rgb(170, 1, 1);
    width: 250px;
    height: 250px;
}

p{
    color: white;
    margin: 40px;
}

.image{
    border: 2px solid rgb(170, 1, 1);
    width: 500px;
    height: 250px;
}

h2{
    background-color: rgb(170, 1, 1);
    color: white;
    text-align: center;
    padding: 90px;
}

h3{
    color: white;
    margin: 40px;
}

.work-html{
    background-color: black;
    color: white;
}

pre{
    margin: 25px;
    border-left: 3px solid rgb(170, 1, 1);
    padding: 5px;
}

.paragraph{
    border-left: 3px solid rgb(170, 1, 1);
}

p{
    margin: 25px;
    padding: 5px;
}

.h1{
    background-color: rgb(170, 1, 1);
}

.header-section {
    position: relative;
    background-color: rgb(170, 1, 1);
    padding: 20px;
    text-align: center;
}

.header-section h2 {
    color: white;
    margin: 0;
}

.header-section a.home-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
}

nav ul li:hover{
    background-color: rgb(170, 1, 1);
}

nav ul li a{
color: black;
}

.header-section h2{
    color: white;
    padding: 10px;
}

pre{
    margin: 25px;
    border-left: 3px solid rgb(170, 1, 1);
    padding: 5px;
}

.link{
    color: white;
    margin: 25px;
    border-left: 3px solid rgb(170, 1, 1);
    padding: 5px;
}

.about-image{
    border: 2px solid rgb(170, 1, 1);
    width: 1245px;
    height: 1000px;
}

.contact{
    text-align: center;
}

.imageandtext{
    float: left;
    border: 2px solid rgb(170, 1, 1);
    width: 300px;
    height: 300px;
}

